body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first-section {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 192px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 78px;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}
.header-links {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;   
}
a {
    text-decoration: none;
    color: inherit;
}
.hero {
    display: flex;
    padding-bottom: 32px;
    gap: 200px;
} 
.text-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.text-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background-color: #3882F6;
    padding: 8px 24px;
    color: #F9FAF8;
    border: solid 1px #F9FAF8;
    border-radius: 8px;
}
.img1 {
    max-width: 560px;
    max-height: 343px;
    flex-shrink: 0;
}
.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-title {
    font-size: 24px;
    font-weight: 900;
    color: #1F2937;
    margin: 16px auto 16px;
}
.info-tiles {
    display: flex;
    gap: 72px;
    margin-bottom: 80px;
}
.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    font-size: 18px;
    text-align: center;
}
.img-container {
    border-radius: 16px;
    height: 160px;
    width: 160px;
}
.img2 {
    border-radius: 12px;
    height: 160px;
    width: 160px;
}
.third-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote {
    width: 750px;
    padding-bottom: 108px;
    padding-top: 128px;
}
.inspiring-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}
.thor {
    font-weight: 700;
    font-size: 20px;
    text-align: end;
}
.fourth-section {
    padding: 100px 180px 100px;
}
.call-container {
    display: flex;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
}
.call-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 800px;
    font-size: 20px;
    margin-top: 44px;
    margin-bottom: 44px;
}
.call-text>h3 {
    margin: 0;
}
.call-text>p {
    margin: 0;
}
.call-container>button {
    align-self: center;
}
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 24px;
    font-size: 18px;
}